*{
	transition: all 0.3s ease-in-out;
	outline: none;
}
.logo{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 67px;
}
/* Group1 - Colors */

.colors {margin-left: 150px}
.colors__item{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px
}
.colors-text{margin-top: 10px}
.colors-text__name,
.colors-text__code{margin-left: 40px}


.colors__item_bgdark{background-color: #1f2041}
.colors__item_bgdark75{background-color: #575871}
.colors__item_bgdark50{background-color: #8f90a0}
.colors__item_bgdark25{background-color: #c7c7d0}
.colors__item_bgdark5{background-color: #f4f4f6}

/* Group2 - Text Levels */
textlevels__h1{
	margin-left: 435px;
}
.textlevels > .h1{
	width: 336px;
}





