@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700&display=swap&subset=cyrillic');
.colors-text__name,
.colors-text__code{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
}
.colors-text__code{
  font-weight: normal;
  text-transform: uppercase}